body {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
}

/** INICIO HEADER */

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin: 1.5rem 0;
}

.container-header img {
    width: 10rem;
}

.nav-header__list {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.nav-header__list li {
    background-color: #ffffff23;
    color: #fff;
    
    padding: 0.625rem;
    border-radius: 50%;
    cursor: pointer;
}

/** FIM HEADER */

/** INICIO MAIN */

.container-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 5%;
}

.content-main {
    max-width: 400px;
    color: #fff;
}

.content-main .content-main__creator {
    text-transform: uppercase;
    font-size: 0.75rem;
    margin-bottom: 0.625rem;
}

.content-main .content-main__title {
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.content-main .content-main__description {
    margin-bottom: 2rem;
    width: 400px;
    text-align: left;
    font-size: 1rem;
    line-height: 1.5rem;
}

.ilustration img {
    width: 400px;
}

/** inicio botoes */
.buttons {
    display: flex;
    gap: 20px;
}

button {
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    border: none;
}

.btn-watch {
    background-color: #F1A5B1;
    cursor: pointer;
    transition: ease .3s;
}

.btn-watch:hover {
    background-color: #f17d8f;
}

.btn-trailer {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #F1A5B1;
    color: #fff;
    transition: ease .3s;
}

.btn-trailer:hover {
    border: 2px solid #f17d8f;
}

.btn-trailer a {
    color: #fff;
}

/** fim botoes */

/** INICIO MAIN */